<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title>Polleria Wilson</title>
</head>
<body >
    <!--navbar horizontal-->
    <header class="contenedor-cabecera">
        <div class="logo">
            <img src="/assets/images/Logo_Wilson.png" alt="Logo de la Empreza">
            
            <h1>WILSON</h1>
        </div>
        <nav>
            <ul class="nav-links">
                <li>
                    <a href="https://www.facebook.com/polleriawilsontrujillo">Facebook</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/polleria_wilson/">Instagram</a>
                </li>
                <li>
                    <a href="https://twitter.com/PolleriaW">Twitter</a>
                </li>
                <li>
                    <a href="https://www.tiktok.com/@polleriawilson">TikTok</a>
                </li>
            </ul>
        </nav>
        <a class="btn" href="Login"><button>Login</button></a>
    </header>
    <!--contenido de pagina-->
    <main class="contenedor-contenido">
        <div class="contenido">
            <div class="titulo">
                <h1>Bienvenido,</h1>
                <h1>a pollos Wilson</h1>
            </div>
            <p>La calidad de nuestros pollos a la brasa se destaca en cada bocado,<br> ofreciendo un sabor con un toque hogareño
            incomparable. <br>Ven y no te pierdas de nuestras increíbles promociones y combos.
            </p>
            <div class="boton-catalogo-producto">
                <a class="btn" href="Menu"><button>Comenzar ahora</button></a>
                
            </div>
        </div>
        <div class="imagen-prducto">
            <img src="/assets/images/landingPage/imagen-platillo.png" alt="producto">
        </div>
    </main>
    <!--navbar vertical-->
    <aside>
        <div class="icon-menu" (click)="abrirMenu()">
            <span>
                <div class="menu-icon" id="menu-icon">&#9776;</div>
            </span>
        </div>
        <div id="barra-menu">
            <ul class="barra-menu-links">
                <li>
                    <a href="https://www.facebook.com/polleriawilsontrujillo">Facebook</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/polleria_wilson/">Instagram</a>
                </li>
                <li>
                    <a href="https://twitter.com/PolleriaW">Twitter</a>
                </li>
                <li>
                    <a href="https://www.tiktok.com/@polleriawilson">TikTok</a>
                </li>
            </ul>
            <div class="contenedor-boton">
                <a class="btn" href="login.html"><button>Login</button></a>
            </div>
        </div>
    </aside>

    <!--icono menu de hamburgeza-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>